.icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.container {
  width: 80%;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

a {
  text-decoration: none;
}

.nav-container {
  box-sizing: border-box;
  overflow: hidden;
  border-top: 1px solid white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: rgb(133, 6, 6);
  font-family: Dancing Script, cursive;
}

header#mainheader {
  background-color: rgb(249, 157, 172);
}

.contact-header {
  display: flex;
  justify-content: space-between;
}

nav#main-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 15%;
}

#main-logo {
  width: 85px;
  height: 60px;
  transition: transform 0.2s;
  margin-left: 10px;
}
#main-logo:hover {
  transform: scale(1.2);
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation li {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.2s;
  margin-left: 2px;
}
.navigation li:hover {
  transform: scale(1.2);
}
.navigation a {
  color: rgb(133, 6, 6);
  padding: 4px;
  font-size: 22px;
}
.navigation a:hover {
  color: white;
}