$main-color:rgb(133, 6, 6);
$secondary-color:white;
$main-bg-color:rgb(249, 157, 172);
$secondary-bg-color:whitesmoke;
$font: Dancing Script , cursive;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.icon {
    width:20px;
    height:20px;
    margin:5px;
}

.container {
    width:80%;
    box-sizing: border-box;
    overflow: hidden;
    margin:auto;
}

a {
    text-decoration: none;
}

.nav-container {
    box-sizing: border-box;
    overflow: hidden;
    border-top: 1px solid $secondary-color;
}
