@import 'config';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: $secondary-bg-color;
    color:$main-color;
    font-family: $font;
}

header#mainheader {
    background-color: $main-bg-color;
}

.contact-header {
    display: flex;
    justify-content: space-between;
}


nav#main-nav {
    display:flex;
    flex-direction: column;
}

.logo {
    width:15%;
}

#main-logo {
    width:85px;
    height:60px;
    transition: transform .2s;
    margin-left:10px;

    &:hover {
        transform: scale(1.2);

    }
}



.navigation {
    align-self: center;
    display: flex;
    align-items: center;

    li {
        display: inline-block;
        text-decoration: none;
        transition: transform .2s;
        margin-bottom:10px;
    }

    li:hover {
        transform: scale(1.2);
    }

    a {
        color:$main-color;
        font-size:25px;
        margin:5px;
        margin-bottom:10px;
    }

    a:hover {
        color:$secondary-color;
    }
}



