@import 'config';
@import 'navbar.scss';

body {
    background-color: $secondary-bg-color;
    color:$main-color;
    font-family: $font;
}

header#mainheader {
    background-color: $main-bg-color;
}

.contact-header {
    display: flex;
    justify-content: space-between;
}

.logo-search {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.logo {


    img {
     width:80px;
     height:60px;

    } 

    img:hover {
        transform:scale(0.99);
    }
}

.search-bar {
    display:flex;
    align-items: center;

    input {
        height:30px;
        width:160px;
        border-radius: 30px;
        border-color:$main-color;
        color:$main-color;

    }

    a {
        
        padding:5px 8px;
        border-radius: 30px;
        background-color: $secondary-bg-color;
        color:$main-color;
        margin-left: 5px;
        font-size:16px;
    }

    a:hover {
        background-color: $main-color;
        color:$secondary-color;
    }
}

<<<<<<< HEAD
.tort {
    width:200px;
    height:200px;
    position: absolute;
    transition: .3s;

    &:hover {
        opacity:20%;
    }

}



.block {
   background-color: black;
    width:200px;
    height:200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color:$secondary-color;
    }

}
=======
svg {
    color:$main-color;
}
>>>>>>> bf2f658ce451e460e9b306b64fa89612e861f662
